body {
    color:black;
    background-color:white;
    background-position:center center;
    background-size: 1600px;
    background-image:url(https://img.freepik.com/photos-premium/fond-lieu-travail-ordinateur-bureau-moderne-ecran-blanc-blanc-vintage-bois-noir_35355-1098.jpg);
    }
